---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}   {{ page.tags }}</span>
  {{ content }}
</div>

<div class="related">
  <ul class="related-posts">
  {% if page.previous.url %}
      <li>
        <h3> Previous: 
          <a href="{{ page.previous.url }}">
            {{ page.previous.title }}
            <small>{{ page.previous.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <h3> Next: 
          <a href="{{ page.next.url }}">
            {{ page.next.title }}
            <small>{{ page.next.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endif %}
  </ul>
</div>